.circleButton {
  background: var(--lion-yellow);
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.circleButtonText {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
